@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, option, select, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
html{   
    font-size: 26.67vw;
}
body , input , textarea{
    font-family:Arial,Verdana,"\5b8b\4f53";
    font-size: 12px;
}
body{
    background:#f7f8f8;
}
a{
    text-decoration:none;
    color: #444;
    cursor: pointer;
}
ul,ol{
    list-style:none;
}
img{
    border:none;
    display: block;
}
/* //去掉状态 */
i,em,strong,b,s{
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 12px;
}
.f1{
    float: left;
}
.f2{
    float: right;
}
i,s{
    display: inline-block;
    vertical-align: middle;
}
table{
    border-spacing: 0px;
    border-collapse: collapse;
}
/* //防止高度塌陷  */
.wrap:after, .clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
/* 顶部工具栏 */
.site{
    z-index: 99;
    position: relative;
    width: auto;
    height: 30px;
    background: #f7f9f8;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}

.site .siteLeft li{
    line-height: 30px;
    margin-right: 10px;
}
.site .city-s{
    position: relative;
    color: #008842;
}
.site .city-sz{
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 7px 0;
    cursor: pointer;
}
/* 城市联动 */
.site .city-tit{
    z-index: 100;
    position: relative;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    padding: 0 20px 5px 5px;
    color: #008842;
    cursor: pointer;
}
.site .city-s:hover .city-tit{
    background-color: #007f4d;
    color: #fff;
}
.site .city-s:hover .city-list{
    display: block;
}
.site .city-list{
    display: none;
    position: absolute;
    top: 28px;
    left: 0;
    width: 482px;
    border: 2px solid #007f4d;
    background: #fff;
}
.site .city-list .head-line{
    padding: 0 15px;
    line-height: 30px;
    color: #727272;
    background: #ededed;
}
.site .city-list .head-line a{
    float: right;
    color: #008842;
    font-family: simsun;
    margin: 0 5px;
    display: inline-block;
    white-space: nowrap;
}
.site .city-list .city-hot{
    overflow: hidden;
    margin: 10px 30px;
    line-height: 18px;
}
.site .city-list .city-hot span{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}
.site .city-hot i{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: url(../img/nav1.png) no-repeat left top;
    background-position: -174px 0;
}
.site .city-hot a{
    padding: 3px 10px 3px 15px;
    color: #727272;
    margin: 0 5px;
    float: left;
    display: inline-block;
    white-space: nowrap;
}
.site .city-tab{
    margin: 10px 0;
    padding: 0 15px;
}
.site .city-tab span{
    display: inline-block;
    width: 18%;
    border: 1px solid #fff;
    border-bottom-color: #e0e0e0;
    text-align: center;
    cursor: pointer;
}
.site .city-tab .active{
    position: relative;
    border-color: #e0e0e0;
    border-bottom-color: #fff;
}
.site .city-list .city-last{
    display: none;
    margin: 0 15px 15px;
}
.site .city-list .attive{
    display: block;
}
.site .city-list dl{
    display: block;
    overflow: hidden;
    zoom: 1;
    line-height: 22px;
}
.site .city-list dt{
    font: bold 12px/22px Arial,"Microsoft YaHei";
    color: #008842;
    float: left;
    margin-right: 10px;
    text-align: center;
}
.site .city-list dd{
    overflow: hidden;
    zoom: 1;
}
.site .city-last a{
    float: inherit;/*继承浮动*/
    width: 18%;
    margin: 0 0 0 5px;
}
.site s{
    position: absolute;
    top: 6px;
    right: 8px;
    width: 8px;
    height: 4px;
    margin-left: 5px;
    background: url(../img/nav1.png) no-repeat 0 0;
    transition: all 0.15s;
}
.site a:hover s{
     background: url(../img/nav1.png) no-repeat -13px 0;
}
.site a:hover{
    color: #008842;
}
/* 头部右半部分 */
.site .siteRight li{
    position: relative;
    float: right;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
}
.site .siteRight li i{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url(../img/nav1.png) no-repeat left top;
}
.site .siteRight .rukou i{
    background-position:-86px 0;
}
.site .siteRight .mobile a{
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 10px;
    z-index: 100;
    border: solid #f7f9f8;
    border-width: 0 1px;
    position: relative;
}
.site .siteRight .mobile:hover .mob{
    display: block;
}
.site .siteRight .mobile:hover .me-tit{
background-color: #fff;
border-bottom:1px solid #fff;
border-left:1px solid  #b4c1a3;
border-right:1px solid  #b4c1a3;
}
.site .siteRight .mobile .mob{
    width: 125px;
    padding: 10px;
    line-height: 25px;
    text-align: left;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid #b4c1a3;
    background: #fff;
}
.siteRight .mobile .mob .me-itme{
    margin: 5px 0;
}
.siteRight .mobile .mob .me-itme img{
    display: block;
    width: 125px;
    height: 125px;
}
.siteRight .mobile .mob span{
    padding-left: 20px;
}
.site .siteRight .mobile{
    padding:0 0; 
}
.site .siteRight .myyiguo{
    padding:0 0; 
}
.site .siteRight .myyiguo a{
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 10px;
    cursor: pointer;
    z-index: 100;
    border: solid #f7f9f8;
    border-width: 0 1px;
    position: relative;
}
.site .siteRight .myyiguo:hover .con{
display: block;
}
.site .siteRight .myyiguo:hover .guo-title{
background-color: #fff;
border-bottom:1px solid #fff;
border-left:1px solid  #b4c1a3;
border-right:1px solid  #b4c1a3;
}
.siteRight .myyiguo .con{
    width: 100px;
    padding: 5px 12px;
    text-align: left;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid #b4c1a3;
    background: #fff;
}
.siteRight .myyiguo .con a{
    display: block;
    line-height: 25px;
    color: #727272;
    padding:1px;
}
.siteRight .myyiguo .con a .coupon{
    margin-left: 10px;
    padding: 0 5px;
    color: #fff;
    background: #008842;
    -webkit-border-radius: 16px;
}
.site .siteRight .chuzhi i{
    width: 22px;
    background-position:-147px 0;
}
.site .siteRight .mobile i{
    background-position:-64px 0;
}
.site .siteRight .myyiguo i{
    background-position:-40px 0; 
}
.site .siteRight s{
    top: 13px;
}

/* 头部 */
.header{
    background: #e0e0e0;
}
.header .wrap{
    height: 50px;
    padding:15px 0 13px 0;
}
.header .logo{
    float: left;
    width: 280px;
    margin-right: 10px;
}
.logo a{
    display: block;
    width: 145px;
    height: 50px;
    background: url(../img/logom.png) no-repeat left top;
}
.search{
    float: left;
    width: 528px;
}
.search .search-input{
    float: left;
    width: 425px;
    height: 26px;
    line-height: 26px;
    color: rgb(153, 153, 153)!important;
    padding: 0 10px;
    border: 1px solid #008842;
    background: #e0e0e0;
}
.search .search-btn{
    float: left;
    display: block;
    width: 81px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    background: #008842;
}
.search .search-list{
    line-height: 30px;
}
.search .search-list a{
    margin-right: 10px;
    color: #727272;
}
.search .search-list .hot{
    color: #008842;
}
.header .shapping{
    z-index: 88;
    float: right;
    position: relative;
}
.shapping .shapping-btn{
    width: 170px;
    height: 28px;
    padding: 6px 0;
    line-height: 28px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #008842;
    background: #fff;
    cursor: pointer;
}

.shapping-btn .gouwuc{
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
    padding: 0;
    background: url(../img/nav1.png) no-repeat -112px 0;
}
.shapping .shapping-btn .gouwuc b{
    display: block;
    width: 24px;
    line-height: 12px;
    margin-right: 4px;
    color: #008842;
    text-align: center;
}
.shapping .shapping-btn  b{
    color: #008842;
}
.shapping .shapping-btn  .cor-b{
    font-weight: 100;
    font-family: Arial, "Microsoft YaHei";
}

.shapping-list {
    z-index: 88;
    display: none;
    position: absolute;
    top: 41px;
    right: 0;
    width: 380px;
    padding: 10px;
    background: #fff;
    border: 1px solid #007f4d;
}
.shapping-list .nogouwu{
    width: 380px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: url(../img/foot4.jpg) no-repeat center #fff;
}
.shapping:hover .shapping-list{
    display: block;
}
/* 商品分类 */
.header-nav {
    z-index: 77;
    position: relative;
}
.catalogs{
    position: relative;
}
.catalogs .catalogs-title{
    width: 180px;
    height: 38px;
    position: relative;
    text-align: center;
    background: #008842;
}
.catalogs .catalogs-title a{
    font-family: "Microsoft YaHei";
    overflow: hidden;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    display: block;
    line-height: 16px;
    padding: 11px 0;
}
.catalogs:hover .catalogs-list{
    display: block;
}
/* 动态添加商品分类 */
.catalogs-list{
    display: none;
    position: absolute;
    height: 462px;
    background: rgba(255, 255, 255, 0.9);
}
.catalogs-list h3 a{
    overflow: hidden;
    position: relative;
    display: block;
    width: 165px;
    line-height: 24px;
    padding: 9px 0 9px 15px;
    font-weight: 600;
    font-size: 14px;
}
.catalogs-list .sub-item{
    z-index: 3;
    display: none;
    position: absolute;
    top: -38px;
    left: 180px;
    width: 215px;
    height: 464px;
    padding: 17px 20px;
    border: 1px solid #bbb;
    background: rgba(255, 255, 255, 0.9);
}
.catalogs-list .current{
    border-left:1px solid  #686868;
    border-top:1px solid  #686868;
    border-bottom:1px solid  #686868;
    border-right: 1px solid #fff;
    color:#20985a;
    background-color: #fff; 
}
.catalogs-list .current a{
    color:#20985a;
}
.catalogs-list .current i{
    margin-left: 7px;
}
.catalogs-list h4{
    margin-bottom: 10px;
    font: normal 18px "Microsoft YaHei";
    text-decoration: underline;
}
.catalogs-list h4 a{
    color: #20985a;
}
.catalogs-list .sub-list a{
    display: inline-block;
    line-height: 25px;
    margin-right: 30px;
    color: #686868;
}
.catalogs-list .sub-list a:hover{
    color: #20985a;
}
.catalogs-list .sub-list{
    display: inline-block;
    line-height: 25px;
    margin-right: 30px;
    color: #686868;
}
.catalogs-list .clota-ad{
    position: absolute;
    bottom: 10px;
}
.catalogs-list  i{
    overflow: hidden;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background: url(../img/nav2.png) no-repeat 0px 0px;
    transition: all .3s ease-in;
}
.catalogs-list  .i2{
    background-position: -24px 0;
}
.catalogs-list  .i3{
    background-position: -48px 0;
}
.catalogs-list  .i4{
    background-position: -72px 0;
}
.catalogs-list  .i5{
    background-position: 0 0;
}
.catalogs-list  .i6{
    background-position: -96px 0;
}
.catalogs-list  .i7{
    background-position: -120px 0;
}
.catalogs-list  .i8{
    background-position: -144px 0;
}
.catalogs-list  .i9{
    background-position: -168px 0;
}
.catalogs-list  .i10{
    background-position: -192px 0;
}
.catalogs-list  .i11{
    background-position: -216px 0;
}
.catalogs-list  .i12{
    background-position: -240px 0;
}
.catalogs-list s{
    position: absolute;
    top: 7px;
    right: 18px;
    font-family: Arial;
    text-decoration: none;
}
.nav-items{
    overflow: hidden;
    float: left;
    width: 1020px;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #008842;
}
.nav-items ul li{
    float: left;
    width: 115px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
/*分条栏*/
.cumbs {
    margin:10px 0px;
    margin-left:-10px;
    a{
    margin:0 10px;
    }
}
//美食图
.pic-intro{
    padding-bottom: 25px;
    border-bottom: 1px solid #d9d9d9;
    .pic-im{
    position: relative;
    float: left;
    width: 500px;
    height: 500px;
    border: 1px solid #d9d9d9;
    img{
    width: 500px;
    height: 500px;  
    }
    }
}
.pic-ic{
    width: 670px;
    margin-left: 527px;
    h1{
    font: normal 40px "Microsoft YaHei";
    }
    .teg{
    margin-top: 20px;
    span{
    display: inline-block;
    padding: 7px 17px;
    color: #85b100;
    font-size: 14px;
    border: 1px solid #cfcfcf;
    background: #fff;
    }
    }
}
.sanfa{
    margin-top: 20px;
    color: #888;
    font-size: 14px;
    line-height: 25px;
}
.relate{
    margin-top: 30px;
        float: left;
    width: 275px;
    height: 50px;
    margin-bottom: 35px;
    padding-left: 60px;
    color: #888;
    font-size: 16px;
    line-height: 25px;
    background: url(../img/shi9.png) no-repeat -35px -100px;
    b{
    color: #8eb623;
    font-weight: normal; 
    }
}
//做法


























/* 腰带条 */
.footer-service{
    background: #e0e0e0;
    margin-top: 50px;
    padding: 30px 0;
}
.footer-service li{
    float: left;
    width: 190px;
    height: 42px;
    margin-left: 55px;
    padding-left: 55px;
    background: url(../img/foot2.png) no-repeat left top;
}
.footer-service .s1{
    background-position: 0 0;
}
.footer-service .s2{
    background-position: 0 -42px;
}
.footer-service .s3{
    background-position: 0 -84px;
}
.footer-service .s4{
    background-position: 0 -126px;
}
.footer-service li b{
    display: block;
    padding-left: 15px;
    color: #007f4d;
    font-size: 18px;
    line-height: 25px;
    font-weight: 100;
    border-left: 1px solid #a6a6a6;
}
.footer-service li span{
    display: block;
    padding-left: 15px;
    border-left: 1px solid #a6a6a6;
}
/* 跳楼栏 */
.activity-side{
    display: block;
    z-index: 1000;
    position: fixed;
    bottom: 150px;
    right: 50%;
    width: 160px;
    margin-right: -680px;
    padding: 160px 0 85px 0;
    background:url(../img/side1.png) no-repeat right top;
}
.activity-side a{
    overflow: hidden;
    display: block;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}
/* 页尾 */
.footer{
    zoom: 1;
    clear: both;
    position: relative;
    padding-bottom: 20px;
    border-top: 1px solid #e0e0e0;
}
.footer .wrap{
    margin: 50px auto 0;
}
.footer dl{
    width: 190px;
    float: left;
    margin-left: 50px;
    display: inline;
}
.footer dl dt{
    height: 23px;
    line-height: 23px;
    background: url(../img/foot1.png) no-repeat;
    font-size: 14px;
    text-indent: 40px;
}
.footer .fot1 dt{
    background-position: 0 0;
}
.footer .fot2 dt{
    background-position: 0 -23px;
}
.footer .fot3 dt{
    background-position: 0 -46px;
}
.footer .fot4 dt{
    background-position: 0 -69px;
}
.footer .fot5 dt{
    background-position: 0 -93px;
}
.footer dl dd{
    border-left: 1px dashed #A8A8A8;
    padding-left: 20px;
    height: 110px;
    min-height: 110px;
    margin: 15px 0 0 13px;
}
.footer dl dd a{
    color: #575556;
    line-height: 22px;
}
.footer .fot-serve{
    clear: both;
    text-align: center;
    padding: 60px 0 20px;
    color: #008842;
    font-size: 14px;
}
.footer .fot-serve span{
    display: inline-block;
    padding: 0 10px;
}
.footer .fot-copy{
    clear: both;
    color: #717171;
    text-align:center;
    line-height: 22px;
}
.footer .fot-copy a{
    color: #717171;
}
.footer .fot-copy .fot-01 a:hover{
    color: #008842; 
}
.footer .fot-gongan a{
    display: inline-block;
    position: relative;
    margin: 0 10px;
    zoom: 1;
    vertical-align: middle;
}
.footer .fot-gongan .fot-last{
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.footer .fot-gongan .fot-last img{
    float: left;
}
.footer .fot-gongan .fot-last span{
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0px 0px 0px 5px;
    color: #939393;
}
/* 侧边悬浮 */
.siderbar{
    display: block;
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 47%;
    margin-right: -625px;
    width: 56px;
}
.siderbar .s-btn{
    overflow: hidden;
    display: block;
    width: 50px;
    height: 42px;
    margin-bottom: 10px;
    background: url(../img/left1.png) no-repeat left top;
}
.siderbar .service{
    background-position: 0 -46px;
}
.siderbar .service:hover{
    background-position: -56px -46px;
}
.siderbar .goTop{
    background-position: 0 0;
    display: block;
}
.siderbar .goTop:hover{
    background-position: -56px 0;
}
